<body>
  <!-- form ini akan bertugas untuk menambah/mengubah suatu product -->
  <form method="post">
    <!-- masukkan input-nya -->
    <div>
      <!-- label -->
      <span>Nama Produk</span>
      <!-- form input -->
      <input type="text" name="name" placeholder="Masukkan nama produk..." />
    </div>

    <div>
      <!-- label -->
      <span>Harga Produk</span>
      <!-- form input -->
      <input type="number" name="price" placeholder="Masukkan harga..." />
    </div>

    <div>
      <input type="submit" value="Kirim" />
      <a href="/">Kembali</a>
    </div>
  </form>
</body>